<h1>Editando Pedido</h1>

<%= render 'form', pedido: @pedido %>

<%= link_to 'Detalhes', @pedido, {:class => 'btn waves-effect waves-light action-color margin-right-button'} %> 
<%= link_to 'Voltar', pedidos_path, {:class => 'btn waves-effect waves-light danger-color'} %>
