<h1>Editando Prato</h1>

<%= render 'form', prato: @prato %>

<%= link_to 'Detalhes', @prato, {:class => 'btn waves-effect waves-light action-color margin-right-button'} %> 
<%= link_to 'Voltar', pratos_path, {:class => 'btn waves-effect waves-light danger-color'} %>
